
.main-div {
        position: relative;
        width: 1905px;
        height: 900px;
        background: #F4F2F4;
}

@media screen and (min-width: 600px) {
        .topbar-div {
                position: absolute;
                width: 1905px;
                height: 75px;
                left: 0px;
                top: 0px;
                background: #F9F7F9;
        }

        .topbar-logo {
                position: absolute;
                width: 133px;
                height: 47px;
                left: 90px;
                top: 14px;
        }

        .topbar-line {
                position: absolute;
                width: 1px;
                height: 42px;
                left: 250px;
                top: 16px;
                background: #C4C4C4;
        }

        .topbar-title {
                position: absolute;
                width: 150px;
                height: 24px;
                left: 290px;
                top: 25px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */
                letter-spacing: 0.02em;
                color: #8B9693;
        }

        .topbar-title1 {
                position: absolute;
                width: 67px;
                height: 21px;
                left: 1700px;
                top: 27px;

                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-align: right;
                letter-spacing: 0.02em;
                color: #000000;
        }

        .topbar-profile {
                position: absolute;
                width: 37px;
                height: 37px;
                left: 1780px;
                top: 19px;

                background: rgba(0, 119, 84, 0.14);
                border-radius: 10px;
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #007754;
                display: flex;
                justify-content:center;
                align-items: center;
        }

        .sidebar-menu {
                display: none;
        }

        .sidebar-rectangle {
                display: none;
        }

        .sidebar-div {
                position: absolute;
                width: 254px;
                height: 825px;
                left: 0px;
                top: 75px;
        }

        .sidebar-line {
                position: absolute;
                width: 1px;
                height: 825px;
                left: 350px;
                /* top: 75px; */
                background: #EAEAEA;
                transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        /* .sidebar-dashboard {
                position: absolute;
                width: 253px;
                height: 60px;
                left: 0px;
                top: 105px;

                background: rgba(0, 119, 84, 0.05);
        } */

        .dashboard-icon {
                position: absolute;
                width: 18.05px;
                height: 15px;
                left: 75px;
                top: 105px;
        }

        .dashboard-title {
                position: absolute;
                width: 93px;
                height: 24px;
                left: 120px;
                top: 80px;

                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #007754;
        }

        .order-icon {
                position: absolute;
                width: 15px;
                height: 15px;
                top: 175px;
                left: 75px;
        }

        .order-title {
                position: absolute;
                width: 57px;
                height: 24px;
                left: 120px;
                top: 150px;

                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #535054;
        }

        .product-icon {
                position: absolute;
                width: 15px;
                height: 15px;
                top: 245px;
                left: 77px;
        }

        .product-title {
                position: absolute;
                width: 74px;
                height: 24px;
                left: 120px;
                top: 220px;

                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #535054;
        }

        .membership-icon {
                position: absolute;
                width: 18.75px;
                height: 15px;
                top: 315px;
                left: 76px;
        }

        .membership-title {
                position: absolute;
                width: 105px;
                height: 24px;
                left: 120px;
                top: 290px;
                
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
                letter-spacing: 0.02em;   
                color: #535054;        
        }

        .discount-icon {
                position: absolute;
                width: 11.25px;
                height: 15px;
                top: 385px;
                left: 78px;
        }

        .discount-title {
                position: absolute;
                width: 83px;
                height: 24px;
                left: 120px;
                top: 360px;
                
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #535054;        
        }

        .settings-icon {
                position: absolute;
                width: 15px;
                height: 15px;
                top: 455px;
                left: 78px;        
        }

        .settings-title {
                position: absolute;
                width: 68px;
                height: 24px;
                left: 120px;
                top: 430px;
                
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #535054;        
        }

        .logout-icon {
                position: absolute;
                width: 15px;
                height: 15px;
                top: 750px;
                left: 78px;        
        }

        .logout-title {
                position: absolute;
                width: 57px;
                height: 24px;
                left: 120px;
                top: 725px;
                
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
                letter-spacing: 0.02em;     
                color: #535054;        
        }

        .pageheader-h2 {
                position: absolute;
                width: 74px;
                height: 24px;
                left: 440px;
                top: 150px;
                
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #535054;        
        }

        .pageheader-h3 {
                position: absolute;
                width: 212px;
                height: 21px;
                left: 440px;
                top: 180px;
                display: flexbox;

                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #8B9693;
        }

        .button-div {
                position: absolute;
                width: 172px;
                height: 40px;
                left: 1650px;
                top: 180px;
                background: #007754;
                border-radius: 5px;
                display: flex;
                justify-content:center;
                align-items: center;

                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
        }
}

/*********************************************************/
/*********************************************************/
/*********************************************************/
/*********************************************************/

@media screen and (max-width: 600px) {

        .topbar-div {
                position: absolute;
                width: 375px;
                height: 75px;
                left: 0px;
                top: 0px;
                background: #F9F7F9;
        }

        .topbar-logo {
                position: absolute;
                width: 94px;
                height: 33px;
                left: 10px;
                top: 23px;
        }

        .topbar-line {
                position: absolute;
                width: 1px;
                height: 42px;
                left: 122px;
                top: 17px;
                background: #C4C4C4;
        }

        .topbar-title {
                position: absolute;
                width: 86px;
                height: 21px;
                left: 141px;
                top: 32px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                /* identical to box height */
                letter-spacing: 0.02em;
                color: #8B9693;                
        }

        .topbar-title1 {
                display: none;
        }

        .topbar-profile {
                position: absolute;
                width: 37px;
                height: 37px;
                left: 327px;
                top: 19px;
                background: rgba(0, 119, 84, 0.14);
                border-radius: 10px;
                
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #007754;
                display: flex;
                justify-content:center;
                align-items: center;
        }

        .sidebar-menu {
                position: absolute;
                width: 26px;
                height: 14px;
                left: 10px;
                top: 20px;
                
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 13px;
                letter-spacing: 0.02em;
                color: #C4C4C4;
        }

        .sidebar-rectangle {
                position: absolute;
                width: 354px;
                height: 45px;
                left: 10px;
                top: 40px;
                border: 1px solid #535054;
                box-sizing: border-box;
                border-radius: 5px;
        }

        .sidebar-div {
                position: absolute;
                width: 254px;
                height: 825px;
                left: 0px;
                top: 75px;
        }

        .sidebar-line {
                display: none;
        }

        /* .sidebar-dashboard {
                position: absolute;
                width: 253px;
                height: 60px;
                left: 0px;
                top: 105px;

                background: rgba(0, 119, 84, 0.05);
        } */

        .dashboard-icon {
                display: none;
        }

        .dashboard-title {
                display: none;
        }

        .order-icon {
                display: none;
        }

        .order-title {
                display: none;
        }

        .product-icon {
                position: absolute;
                width: 15px;
                height: 15px;
                top: 55px;
                left: 24px;
        }

        .product-title {
                position: absolute;
                width: 65px;
                height: 21px;
                left: 55px;
                top: 40px;
                
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #535054;
        }

        .membership-icon {
                display: none;
        }

        .membership-title {
                display: none;        
        }

        .discount-icon {
                display: none;
        }

        .discount-title {
                display: none;        
        }

        .settings-icon {
                display: none;        
        }

        .settings-title {
                display: none;        
        }

        .logout-icon {
                display: none;        
        }

        .logout-title {
                display: none;        
        }

        .pageheader-h2 {
                position: absolute;
                width: 74px;
                height: 24px;
                left: 13px;
                top: 170px;
                
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #535054;       
        }

        .pageheader-h3 {
                position: absolute;
                width: 210px;
                height: 21px;
                left: 13px;
                top: 200px;
                
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #8B9693;                
        }

        .button-div {
                position: absolute;
                width: 40px;
                height: 40px;
                left: 321px;
                top: 180px;
                background: #007754;
                border-radius: 5px;
                display: flex;
                justify-content:center;
                align-items: center;
        }
}

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  position: static;
  margin-left: 440px;
  top: 250px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} */

